.stopwatch {
  position: relative;
  width: 500px;
  padding: 5rem 0;
  background-color: #f1a2a2;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 5rem;
  color: #fff;
}

.stopwatch__time {
  padding: 1rem 1.5rem;
  margin: 1rem;
  background: #c56565;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

@media screen and (max-width: 550px) {
  .stopwatch {
    width: 100%;
  }
}
