body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #a13d3d;
  /* animation: colors 13s linear infinite; */
  transition: 5s ease;
}

@keyframes colors {
  0%,
  100% {
    background-color: #000000;
  }
  20% {
    background-color: #2b5876;
  }
  40% {
    background-color: #44a08d;
  }
  60% {
    background-color: #56b4d3;
  }
  80% {
    background-color: #17153a;
  }
  90% {
    background-color: #dd5e89;
  }
}

.heading-1 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btn-container {
  margin: 1rem 0;
  padding: 1.5rem;
  background: #fff;
  border-radius: 5px;
}

.btn {
  padding: 0.7rem 1.5rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  border: none;
  background: #a13d3d;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  filter: brightness(1.2);
  transform: translateY(-3px);
}
